<!DOCTYPE html>
<html lang="en" class="section">
<head>
  <meta charset="UTF-8">
  <title>AES Encrypt and Decrypt with QRcode</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'><link rel='stylesheet' href='https://unpkg.com/buefy/dist/buefy.min.css'>
<link rel='stylesheet' href='https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.6/css/all.css'>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app" class="container">
    <H3>AES encrypt decrypt with qr code</H3>
	<div class="columns is-mobile">
  <div class="column is-one-fifths">
	  		  <figure class="image is-128x128">
           <img :src=qrdata  >
          </figure>
  </div>
  <div class="column">
            <b-field label="Password">
            <b-input type="password"
                v-model="key"
                value="iwantmytreasure"
                password-reveal>
            </b-input>
        </b-field>
 
  </div>
 
</div>
    <section>

      




 

 

        <b-field  >
            <b-input v-model="message" maxlength="1800" type="textarea" rows=8></b-input>
        </b-field>


 

     <b-button @click="myencrypt">Encrypt</b-button>     
       <b-button @click="mydecrypt">Decrypt</b-button>

    </section>
 
</div>
<!-- partial -->
  <script src='https://unpkg.com/vue/dist/vue.min.js'></script>
<script src='https://unpkg.com/buefy/dist/buefy.min.js'></script>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js'></script>
<script src='https://unpkg.com/cleave.js/dist/cleave.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vee-validate@2.1.0-beta.9/dist/vee-validate.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js'></script>
<script src='https://rawgit.com/sytelus/CryptoJS/v3.1.2/rollups/md5.js'></script>
<script src='https://rawgit.com/sytelus/CryptoJS/v3.1.2/rollups/aes.js'></script>
<script src='https://rawgit.com/sytelus/CryptoJS/v3.1.2/components/core-min.js'></script>
<script src='https://rawgit.com/sytelus/CryptoJS/v3.1.2/components/enc-utf16-min.js'></script>
<script src='https://rawgit.com/sytelus/CryptoJS/v3.1.2/components/enc-base64-min.js'></script>

<script>
const example = {
computed: {
	n(){
	},
	qr(){
    const qr = new QRious({
        value: this.message,
        size: 1000,
        foreground: '#414141' });
      console.log(qr);
	  this.qrdata=qr.toDataURL('image/png');
      return qr.toDataURL('image/png');
    }
},
          methods: {
            clickMe() {
                this.$buefy.notification.open(this.message)
            },
            myencrypt(){
              //add by zy
                key=this.key.toString();
	        	source=this.message.toString();
                this.message=CryptoJS.AES.encrypt(source,key).toString();
			    this.qrdata=this.qr2(this.message)
            },
            mydecrypt(){
                key=this.key.toString();
	        	source=this.message.toString();
                this.message=CryptoJS.AES.decrypt(source,key).toString(CryptoJS.enc.Utf8);
            } ,
		qr2(input){
		const qr = new QRious({
			value: input,
			size: 1000,
			foreground: '#414141' });
		  console.log(qr);
		  return qr.toDataURL('image/png');
    }
		},
    data() {
        return {
            message:"Hello",
            key:"Key",
			qrdata:""
        }
    }
}

            const app = new Vue(example)
            app.$mount('#app')
        

</script>
</body>
</html>
